# SOPS decrypted files
*.dec
*.sops.yaml.dec

# Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfplan

# Environment
.env

# Ansible
*.retry

# Kubernetes credentials
kubeconfig

# Node
node_modules/

# General
.DS_Store
__MACOSX/
.AppleDouble
.LSOverride
Icon[]

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
